@charset "UTF-8";




@media (min-width: 768px) {
  header {
    flex-direction:row;
    justify-content:flex-start;
    text-align: start;
  }


  header .logo {
    font-size: 2rem;
    top: 5px;
    position: relative;
    margin-left: 20px;
  }

  header .slogan {
    margin: 0 0 0 20px;
    font-size: 0.8rem;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    
    /* menu em linha */
    gap: 20px;
  }

  .hero {
    height: 600px;
    /* aumenta a altura */
    background-position: center top;
    /* controla a parte visível */
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1.5rem;
  }

  .content {
    flex-direction: row; /* lado a lado */
    align-items: flex-start;
  }

  .image-block, 
  .text-block {
    flex: 1; /* divide espaço igualmente */
  }

  .image-block {
    max-width: 50%; /* garante metade da tela */
  }

  .text-block {
    max-width: 50%;
  }
  
}







@media (min-width: 1200px) {
 
  header {
  display: flex;
  justify-content: space-between; 
  align-items: center;       
  padding: 40px 40px;          /* controla altura do header */
}



  header .logo {
    font-size: 2.3rem;
    top: -20px;
    position: relative;


  }

  header .slogan {
    font-size: 1.1rem;
    position: relative;
    top: -30px;


  }

   nav ul {
    display: flex;
    list-style: none;
    flex-direction:row;
  }

  nav ul li {
  margin-right: 20px; 
}

  .hero {
    height: 500px;
    
  }

  

  .hero-text h1 {
    font-size: 2.1rem;
  }

  .hero-text p {
    font-size: 1.3rem;
  }

  .content {
    flex-direction: row; 
    align-items: flex-start;
  }

  .image-block, 
  .text-block {
    flex: 1; 
  }

  .image-block {
    max-width: 50%; 
  }

  .text-block {
    max-width: 50%;
  }
}