@charset "UTF-8";

:root {
    --header1: #4e342e;
    --header2: #8d6e63 ;
    --header3: #d7ccc8;
    --font1: #1b0e0c;
    --font: #d4af37;
    --font-family1:"Great Vibes", serif;
    --font-family2:"Playfair Display", serif;
    
    
}




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--header2);
    overflow-x: hidden;
    
}

header {
  background: linear-gradient(to bottom, #4e342e, #8d6e63, #d7ccc8);
  color:var(--font);
  padding: 15px;
  display: flex;
  flex-direction:column; 
  align-items: center;
  text-align: center;
  
}

.seo-title {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.logo {
  
  font-family: var(--font-family1);
  font-size: 1.5rem;
  margin-bottom: 6px;
  font-weight: bold;
  line-height: 1.1; 
}

header .slogan {
  font-family:var(--font-family2);
  font-style: italic;
  font-weight:lighter;
  font-size: 0.9rem;
  margin: 5px 0 15px 0;
  color:var(--font1);
  
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
  padding: 8px 0;
  font-size: 15px;
  align-items: center;
}

.contact-container a {
  text-decoration: underline;
  color:var(--font1);
  transition: color 0.3s ease;
}

.contact-container a:hover {
  color: var(--font);
   
}

.contact-container .icon {
  
  width: 20px;    
  height: 20px;
  margin-right: 6px;  
}




nav ul {
  font-family: var(--font-family2);
  list-style: none;
  line-height: 1.8em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

  nav ul li {
  margin-right: 20px; 
}

nav a {
  text-decoration: none;
  color: var(--font1);
  font-style: italic;
  font-weight:lighter;
  transition-duration: 0.6s;
  
}
nav a:hover {
    color:var(--font);
    border-bottom: 0.1rem solid #d4af37;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

/*.title {
    background-color: var(--header2);
    color: var(--header3);
    font-family: var(--font-family2);
    font-size: 1.6rem;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 4rem;
    text-align: center;
    text-decoration: overline;
    
    
}

.title p {
  color:var(--header3);
  font-size: 1.2rem;
  margin-bottom: 15px;
  
}


  ------Sliders----------*/

  section.containerproje {
    width: 100%;
    padding-bottom: 40px;
    position: relative;
    min-height: 100vh;
    

}

.slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 24px;
    border: 2px solid #d4af37;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    
}


.containerproje .slide-container {
    display: none;
}
.containerproje .slide-container.active {
    display: block; }

.containerproje .slide-container:nth-child(1) .slide {
    background-image: url(../img/IMG-AMB02.jpg);
 /*background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;*/
}

.containerproje .slide-container:nth-child(2) .slide {
    background-image: url(../img/IMG-AMB03.jpg);
    /*background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;*/
}

.containerproje .slide-container:nth-child(3) .slide {
    background-image: url(../img/IMG-AMB06.jpg);
/* background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;*/
}

.contentproje {
    max-width: 100%;
    background: rgba(0, 0, 0, 0.45);
    padding: 16px;
    border-radius: 8px;

}

.contentproje h3 {
    font-size: 1.6rem;
    color:#d4af37;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;

}

.contentproje p {
  font-size: 1rem;
  color: #d7ccc8;
  line-height: 1.5;
  
}

 #prev, #next {
  
   position: absolute; 
   top: 50%;
   transform: translateY(-50%);
   color: white;
   background-color: rgba(0, 0, 0, 0.45) ;
   height: 45px;
   width: 45px;
   line-height: 45px;
   font-size: 22px;
   text-align: center;
   cursor: pointer;
   font-weight: bolder;
   border-radius: 50px;
}
#prev:hover, #next:hover {
    background: #d4af37;
}
#prev {
left: 25px;
}
#next {
right: 25px;
}

.content {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}

.content p {
  color: var(--header3);
  font-family: var(--font-family2);
  font-size: 1.6rem;

}

.image-block {
  text-align: center;
}

.image-block img {
  
  width: 100%;
  height: 250px;
  border-radius: 8px;
  border: 2px solid #d4af37;
  object-fit: cover;

}
.image-block h2 {
  background-color: var(--header2);
   color: var(--header3);
    font-family: var(--font-family2);
    font-size: 1.6rem;
    padding-top: 15px; 
    text-align: center;
    text-decoration:overline;

}

footer {
  padding-bottom: 60px;
  padding-top: 30px;
}





