
@charset "UTF-8";

:root {
    --header1: #4e342e;
    --header2: #8d6e63 ;
    --header3: #d7ccc8;
    --font1: #1b0e0c;
    --font: #d4af37;
    --font-family1:"Great Vibes", serif;
    --font-family2:"Playfair Display", serif;
    
    
}




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--header2);
    overflow-x: hidden;
    
}
strong {
  color: blue;
}

header {
  background: linear-gradient(to bottom, #4e342e, #8d6e63, #d7ccc8);
  color:var(--font);
  padding: 15px;
  display: flex;
  flex-direction:column; 
  align-items: center;
  text-align: center;
  
} 

.logo {
  
  font-family: var(--font-family1);
  font-size: 1.8rem;
  margin-bottom: 10px;
}
header .slogan {
  font-family:var(--font-family2);
  font-style: italic;
  font-weight:lighter;
  font-size: 0.9rem;
  margin: 5px 0 15px 0;
  color:var(--font1);
  
  
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
  padding: 8px 0;
  font-size: 15px;
  align-items: center;
}

.contact-container a {
  text-decoration: underline;
  color:var(--font1);
  transition: color 0.3s ease;
}

.contact-container a:hover {
  color: var(--font);
   
}

.contact-container .icon {
  
  width: 20px;    
  height: 20px;
  margin-right: 6px;  
}



nav ul {
  font-family: var(--font-family2);
  list-style: none;
  line-height: 1.8em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

  nav ul li {
  margin-right: 20px; 
}

nav a {
  text-decoration: none;
  color: var(--font1);
  font-style: italic;
  font-weight:lighter;
  transition-duration: 0.6s;
  
}
nav a:hover {
    color:var(--font);
    border-bottom: 0.1rem solid #d4af37;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.info-section {
  background-color: var(--header2);
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  
}

.title {
    background-color: var(--header2);
    color: var(--header3);
    font-family: var(--font-family2);
    font-size: 1.6rem;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 4rem;
    text-align: center;
    text-decoration:overline;
    
}
.seo-title {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.content {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
  
  
}

.image-block img {
  
  width: 100%;
  height: 500px;
  border: 2px solid #d4af37;
  border-radius: 8px;
  object-fit: cover;
}



.text-block {
  background: var(--header3);
  width: 100%;
  height: 500px;
  padding: 15px;
  text-align: center;
  align-self: flex-start;
  font-family: var(--font-family2);
  font-size: 1.1rem;
  line-height: 1.3;
  border-radius: 8px;
  border: 2px solid #d4af37;
  
  
  
}
.text-block h2 {
  padding: 25px;
  font-family: var(--font-family2);
  color: var(--font1);
  text-decoration: underline;

}

.hero {
  position: relative;
  width: 100%;
  max-height: 500px; 
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: auto;
  display: block;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); 
  padding: 20px 40px;
  border-radius: 12px;
}

.hero-text p {
  padding-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: white;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.review .box-container .box h3 {
    color: white;
    font-size: 2rem;
    margin: 1rem 0;

}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--font); 
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
footer {
  padding-bottom: 60px;
  padding-top: 30px;
}
